<a href="/details/{{ product.id }}" class="card-product text-decoration-none">
  <div class="card-product-inner">
    <div class="card-product-pic">
      <img
        class="img-fluid"
        src="http://localhost:8000/img/{{ product.img }}"
        alt="{{ product.name }}"
      />
      <div class="glow-border"></div>
      <div class="reflection"></div>
    </div>
    <div class="card-product-text">
      <p class="text-truncate fw-bold golden-text">
        {{ product.name }}
      </p>
      <h5 class="text-diamond">{{ product.price | number }} đ</h5>
    </div>
  </div>
</a>
