<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Sản phẩm</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-3 mb-3">
  <div class="d-flex gap-2" style="width: 85%">
    <div class="w-20">
      <div class="border border-secondary p-3 rounded-3">
        <div>
          <h5 class="font-bold">Theo giá</h5>
          <ul class="list-unstyled d-flex flex-column">
            <li
              class="p-2 li-hover"
              fr="min=0&max=350000"
              (click)="filterPrice(0, 350000, 'min=0&max=350000')"
              #price
            >
              Dưới 350.000đ
            </li>
            <li
              class="p-2 li-hover"
              fr="min=350000&max=750000"
              (click)="filterPrice(350000, 750000, 'min=350000&max=750000')"
              #price
            >
              Từ 350.000đ - 750.000đ
            </li>
            <li
              class="p-2 li-hover"
              fr="min=750000&max=9999999999"
              (click)="
                filterPrice(750000, 9999999999, 'min=750000&max=9999999999')
              "
              #price
            >
              Trên 750.000đ
            </li>
          </ul>
        </div>
        <div>
          <h5 class="font-bold">Danh mục</h5>
          <ul
            class="list-unstyled d-flex flex-column"
            style="height: 300px; overflow: auto"
          >
            @for (item of subcategory; track $index) {
            <li
              class="p-2 li-hover"
              [attr.fc]="'subcategories=' + item.id"
              (click)="filterSubCategory(item.id, 'subcategories=' + item.id)"
              #category
            >
              {{ item.name }}
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="row w-100 d-flex g-3" style="height: fit-content">
      @if (products.length === 0) {
      <p>Khong tim thay san pham</p>
      } @for (product of products; track $index) {
      <div class="col-lg-3 mix oranges fresh-meat">
        <app-card-product [product]="product"></app-card-product>
      </div>
      } @if (check) {
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-primary w-25" (click)="viewMore()">
          Xem thêm
        </button>
      </div>
      }
    </div>
  </div>
</div>
