.li-hover:hover {
  background-color: gainsboro;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.a-hover:hover {
  background-color: gainsboro;
}
.w-20 {
  width: 20%;
}
