<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Dịch vụ khách hàng</h2>
          <ul>
            <li><a href="index.html">Chính sách khách hàng thân thiết</a></li>
            <li><a href="about.html">Chính sách đổi trả, bảo hành</a></li>
            <li><a href="services.html">Chính sách bảo mật</a></li>
            <li><a href="news.html">Chính sách thanh toán, giao nhận</a></li>
            <li><a href="contact.html">Hướng dẫn chọn size</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Về chúng tôi</h2>
          <ul>
            <li><a href="index.html">Giới thiệu</a></li>
            <li><a href="about.html">Tuyển dụng</a></li>
            <li><a href="services.html">Tin tức</a></li>
            <li><a href="news.html">Hệ thống cửa hàng</a></li>
            <li><a href="contact.html">Tin khuyến mãi</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h2 class="widget-title">Liên hệ với chúng tôi</h2>
        <div class="social-icons">
          <ul>
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box subscribe">
          <h2 class="widget-title">Đăng ký</h2>
          <p>Đăng ký email để nhận thông tin cập nhật mới nhất.</p>
          <form action="index.html">
            <input type="email" placeholder="Email" />
            <button type="submit">
              <i class="fas fa-paper-plane"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
