<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="close-btn"><i class="fas fa-window-close"></i></span>
        <div class="search-bar">
          <div class="search-bar-tablecell">
            <h3>Tìm kiếm:</h3>
            <input type="text" #keyword placeholder="Nhập từ khóa" />
            <button type="submit" (click)="search(keyword)">
              Tìm kiếm <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hero-area hero-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <p class="subtitle">Thời trang đa dạng, giá tốt, freeship!</p>
            <h1>Mua sắm dễ dàng, hỗ trợ 24/7!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-section pt-80 pb-80" #section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 d-flex justify-content-center">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <i class="fas fa-shipping-fast"></i>
          </div>
          <div class="content">
            <h3>Miễn phí vận chuyển</h3>
            <p>Không lo phí ship</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 d-flex justify-content-center">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <i class="fas fa-phone-volume"></i>
          </div>
          <div class="content">
            <h3>Hỗ trợ 24/7</h3>
            <p>Bất cứ khi nào bạn cần</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 d-flex justify-content-center">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <i class="fas fa-phone-volume"></i>
          </div>
          <div class="content">
            <h3>Đền bù</h3>
            <p>Nhận hoàn tiền trong vòng 3 ngày!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-section mt-150 mb-150" #section>
  <div class="container">
    <div class="col-lg-8 offset-lg-2 text-center">
      <div class="section-title">
        <h3>
          <span>Sản phẩm Nổi bật</span>
        </h3>
      </div>
    </div>

    <div class="row g-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
      @for (prod of outstanding; track $index) {
      <div class="col">
        <div
          class="card text-light shadow-lg border-0 rounded-4 overflow-hidden position-relative product-card"
        >
          <app-card-product [product]="prod"></app-card-product>
        </div>
      </div>
      }
    </div>
  </div>
</div>

<div class="product-section mt-150 mb-150">
  <div class="container">
    @for (product of products; track $index) {
    <div class="abt-section mb-150" #section>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="abt-text">
              <h2>Quần áo {{ product.name }}</h2>
              <p>
                "Tỏa sáng theo cách riêng của bạn với bộ sưu tập thời trang mới
                nhất! Những thiết kế tinh tế, hiện đại và thoải mái, phù hợp cho
                mọi phong cách – từ thanh lịch công sở, năng động dạo phố đến
                quyến rũ trong những buổi tiệc. Chất liệu cao cấp, form dáng
                chuẩn, giúp bạn luôn tự tin và nổi bật. Thời trang không chỉ là
                trang phục, mà còn là tuyên ngôn cá tính. Chọn ngay phong cách
                của bạn hôm nay!"
              </p>
              <a
                href="/product?category={{ product.id }}"
                class="boxed-btn mt-4"
                >Xem ngay</a
              >
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="abt-bg">
              <img
                src="https://59sdesign.com/wp-content/uploads/2021/05/mau-thiet-ke-shop-quan-ao-nu-don-gian-co-chi-phi-bao-nhieu-1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div #section>
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="section-title">
            <h3>
              Sản phẩm <span class="orange-text">{{ product.name }}</span>
            </h3>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        @for (prod of product.products; track $index) {
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
          <app-card-product [product]="prod"></app-card-product>
        </div>
        }
      </div> -->
      <div class="row g-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
        @for (prod of product.products; track $index) {
        <div class="col">
          <div
            class="card text-light shadow-lg border-0 rounded-4 overflow-hidden position-relative product-card"
          >
            <app-card-product [product]="prod"></app-card-product>
          </div>
        </div>
        }
      </div>
      <div class="d-flex justify-content-center" style="margin: 50px 0px">
        <a
          href="/product?category={{ product.id }}"
          class="btn btn-primary w-25"
          >Xem Them</a
        >
      </div>
    </div>
    }
  </div>
</div>
