<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1 class="fw-bold text-light text-uppercase display-4 shadow-sm p-2">
            {{ details.name }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product mt-150 mb-150">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div
          class="single-product-img d-flex justify-content-center position-relative overflow-hidden rounded-4 shadow-lg bg-white p-3"
        >
          <img
            src="http://localhost:8000/img/{{ details.img }}"
            alt="{{ details.name }}"
            class="w-75 rounded-3 shadow product-img"
          />
        </div>
      </div>
      <div class="col-md-7">
        <div
          class="single-product-content p-5 rounded-4 shadow-lg bg-light border border-warning"
        >
          <h3 class="fw-bold text-dark text-uppercase display-6">
            {{ details.name }}
          </h3>
          <p
            class="single-product-pricing text-danger fw-bold display-4 mb-3 shadow-sm"
          >
            {{ details.price | number }} đ
          </p>
          <p class="text-secondary lead fst-italic">
            {{ details.description }}
          </p>
          <div class="single-product-form mt-4">
            <div class="d-flex align-items-center gap-4">
              <input
                type="number"
                min="1"
                value="1"
                name="qty"
                [(ngModel)]="qty"
                class="form-control w-25 border-warning text-center fw-bold fs-5 shadow-sm"
              />
              <a
                (click)="addToCart({ details , qty, user: user && user.id})"
                class="btn btn-warning fw-bold text-light shadow-lg px-5 py-3 rounded-pill d-flex align-items-center gap-2 hover-scale"
              >
                <i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng
              </a>
              <a
                (click)="addFavorite({details})"
                class="btn {{
                  !this.isFavorite ? 'btn-secondary' : 'btn-danger'
                }} fw-bold text-light shadow-lg px-5 py-3 rounded-pill d-flex align-items-center gap-2 hover-scale"
              >
                <i class="fas fa-heart"></i>
                {{ !this.isFavorite ? "Bỏ thêm" : "thêm" }} vào yêu thích
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product mt-150 mb-150">
  <div class="container d-flex flex-column justify-content-center">
    <h1
      class="text-uppercase text-center text-warning mb-4 position-relative d-inline-block pb-2"
    >
      ĐÁNH GIÁ SẢN PHẨM
    </h1>

    <div class="row">
      <div
        class="col-md-4 text-white p-3 d-flex flex-column justify-content-center align-items-center"
      >
        <h5 class="text-dark">Điểm đánh giá trung bình</h5>
        <p style="font-size: 50px; font-weight: 600" class="text-warning">
          {{ this.avgPreview }}/5
        </p>
        <span class="text-secondary">({{ preview.length }} đánh giá)</span>
      </div>
      <div
        class="col-md-4 text-white p-3 d-flex flex-column justify-content-center align-items-center"
      >
        @for (item of starPreview; track $index) {
        <div class="d-flex align-items-center w-75">
          <p class="mb-0">{{ 5 - $index }}</p>
          <i
            class="fa-solid fa-star text-secondary"
            style="font-size: 12px; margin-left: 3px"
          ></i>

          <!-- Đây là nơi cần display: flex -->
          <div class="mx-2 d-flex w-100" style="height: 6px">
            <div
              class="flex-grow-1"
              style="background-color: gold"
              [style.width]="item[0] + '%'"
            ></div>
            <div
              class="flex-grow-1"
              style="background-color: lightgray"
              [style.width]="100 - item[0] + '%'"
            ></div>
          </div>

          <p class="mb-0">{{ item[1] }}</p>
        </div>

        }
      </div>

      <div
        class="col-md-4 text-white p-3 d-flex flex-column justify-content-center align-items-center"
      >
        <p class="w-50 text-center">
          Vui lòng chia sẽ nhận xét về sản phẩm của clothzone
        </p>
        <button
          (click)="openPreview()"
          class="btn btn-warning text-light w-75 fw-bold"
        >
          Viết đánh giá
        </button>
      </div>
    </div>

    <div style="max-height: 400px; overflow-y: auto" class="mt-3">
      @for (item of preview; track $index) {
      <div class="review-container">
        <!-- Ảnh đại diện -->
        <div
          class="d-flex flex-column justify-content-center align-items-center gap-2"
        >
          <div class="avatar">{{ item.user.name[0] }}</div>
          <strong class="fs-4"
            >{{ item.user.name }}

            @if (item.check) {
            <i
              class="fas fa-check-circle"
              style="color: #007bff; font-size: 24px"
            ></i>
            }
          </strong>
        </div>

        <!-- Nội dung đánh giá -->
        <div class="review-content">
          <!-- <div class="d-flex align-items-center">
            <span class="ms-2 verified"
              ><i class="fas fa-check-circle"></i> Đã mua</span
            >
          </div> -->

          <!-- Sao đánh giá -->
          <div class="stars">
            @for (r of item.rating; track $index) { @if(r === 0) {
            <i class="fas fa-star" style="color: gold"></i>

            } @else {
            <i class="fas fa-star" style="color: lightgray"></i>

            } }
          </div>

          <!-- Nội dung đánh giá -->
          <p class="mb-1">{{ item.content }}</p>

          <!-- Thời gian đánh giá -->
          <span class="review-time">{{ item.updated_at }}</span>
        </div>
      </div>
      }
    </div>
  </div>
</div>

<div class="single-product mt-150 mb-150">
  <div class="container d-flex flex-column justify-content-center">
    <h1
      class="text-uppercase text-center text-warning mb-4 position-relative d-inline-block pb-2"
    >
      sản phẩm liên quan
    </h1>

    <div class="row g-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
      @for (item of related; track $index) {
      <app-card-product [product]="item"></app-card-product>
      }
    </div>
  </div>
</div>

@if (isOpenPreview) {
<app-preview (messageEvent)="receiveMessage($event)"></app-preview>
}
