<div class="w-100 bg-secondary-subtle d-flex justify-content-center h-72 mb-3">
  <div class="w-90 d-flex align-items-center">
    <div class="w-75 h-100 d-flex gap-4">
      <div class="d-flex justify-content-center align-items-center">
        <span class="text-warning font-bold fs-3">cloth</span>
        <span class="text-primary font-bold fs-3">zone</span>
      </div>
      <div class="w-90 d-flex align-items-center">
        <div class="d-flex gap-5">
          <a href="" class="text-decoration-none text-black">Nam</a>
          <a href="" class="text-decoration-none text-black">Nữ</a>
          <a href="" class="text-decoration-none text-black">Đồng phục</a>
          <a href="" class="text-decoration-none text-black">Trẻ em</a>
        </div>
      </div>
    </div>
    <div class="w-25 h-100 d-flex justify-content-end align-items-center gap-2">
      <div
        class="input-group border border-primary h-50 bg-light p-2 rounded-2"
      >
        <div class="h-100 d-flex align-items-center bg-light">
          <span class="">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control h-100 border-0"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <div>
        <i class="fa-solid fa-bag-shopping font-25"></i>
      </div>
    </div>
  </div>
</div>
