<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="site-logo">
            <a href="index.html" class="d-flex text-decoration-none gap-1">
              <i
                class="fa-solid fa-shirt d-flex align-items-center"
                style="font-size: 35px; color: #f28123"
              ></i>
              <div class="d-flex flex-column p-0 m-0">
                <span
                  style="
                    color: #f28123;
                    text-align: left;
                    font-size: 20px;
                    font-weight: 600;
                  "
                  >Clothzone</span
                >
                <span style="color: #f28123; text-align: left; font-size: 12px"
                  >Fashion Modern</span
                >
              </div>
            </a>
          </div>
          <!-- logo -->

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="">
                <a href="/" class="text-decoration-none">Trang chủ</a>
              </li>
              @for (item of category; track $index) {
              <li>
                <a
                  href="/product?category={{ item.id }}"
                  class="text-decoration-none"
                  >Thời trang {{ item.name }}</a
                >
              </li>
              }

              <li>
                <div class="header-icons">
                  <a class="shopping-cart cart" href="/favorite"
                    ><i class="fas fa-heart"></i>
                    @if (this.favorite && this.favorite.length) {
                    <p
                      class="bg-danger text-light count"
                      style="font-size: 12px"
                    >
                      {{ this.favorite.length }}
                    </p>
                    }
                  </a>
                  <a class="shopping-cart cart" href="/cart"
                    ><i class="fas fa-shopping-cart"></i>
                    @if (this.cart) {
                    <p
                      class="bg-danger text-light count"
                      style="font-size: 12px"
                    >
                      {{ this.cart }}
                    </p>
                    }
                  </a>
                  <a class="search-bar-icon" href="#">
                    <i class="fas fa-search"></i>
                  </a>
                  <a class="mobile-hide search-bar-icon" href="/login"
                    ><i class="fas fa-user"></i>
                    <span class="ml-2">{{ user && user.name }}</span></a
                  >
                </div>
              </li>
            </ul>
          </nav>
          <a class="mobile-show search-bar-icon"
            ><i class="fas fa-search"></i>
          </a>

          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
