<div class="container">
  <h2>Đổi Mật Khẩu</h2>
  <form method="POST" class="w-50" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="currentPassword" class="form-label">Mật khẩu hiện tại</label>
      <input
        type="password"
        class="form-control"
        formControlName="old"
        required
      />
      @if (form.controls['old'].dirty) { @if
      (form.controls['old'].hasError("required")) {
      <small class="text-danger">Đây là thông tin bắt buộc</small>
      } @else if (form.controls['old'].hasError("incorrect")) {
      <small class="text-danger">Mật khẩu hiện tại không đúng</small>

      } }
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">Mật khẩu mới</label>
      <input
        type="password"
        class="form-control"
        formControlName="new"
        required
      />
      @if(form.controls['new'].dirty) { @if
      (form.controls['new'].hasError("required")) {
      <small class="text-danger">Đây là thông tin bắt buộc</small>
      } @else if (form.controls['new'].hasError("minlength")) {
      <small class="text-danger">Mật khẩu phải ít nhất 6 ký tự</small>
      } }
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label"
        >Xác nhận mật khẩu mới</label
      >
      <input
        type="password"
        class="form-control"
        formControlName="confirm"
        required
      />
      @if (form.controls['confirm'].dirty) { @if
      (form.controls['confirm'].hasError("required")) {
      <small class="text-danger">Đây là thông tin bắt buộc</small>
      } @else if (form.controls['confirm'].hasError("match")) {
      <small class="text-danger">Mật khẩu không khớp</small>

      } }
    </div>

    <button
      type="submit"
      [disabled]="!form.valid"
      class="btn btn-warning text-light w-100 {{ !form.valid && 'opacity-50' }}"
    >
      Đổi mật khẩu
    </button>
  </form>
</div>
